apiVersion: runwhen.com/v1
kind: ServiceLevelIndicator
metadata:
  name: {{slx_name}}
  labels:
    {% include "common-labels.yaml" %}
  annotations:
    {% include "common-annotations.yaml" %}
    runwhen.com/sli: "true"
spec: 
  displayUnitsLong: OK
  displayUnitsShort: ok
  locations:
    - {{ default_location }}
  codeBundle:
    {% if repo_url %}
    repoUrl: {{repo_url}}
    {% else %}
    repoUrl: https://github.com/runwhen-contrib/rw-cli-codecollection.git
    {% endif %}
    {% if ref %}
    ref: {{ref}}
    {% else %}
    ref: main
    {% endif %}
    pathToRobot: codebundles/k8s-deployment-healthcheck/sli.robot
    intervalStrategy: intermezzo
    intervalSeconds: 180
  description: Measures the health of the {{match_resource.resource.metadata.name}} deployment.
  configProvided:
    - name: NAMESPACE
      value: {{match_resource.resource.metadata.namespace}}
    - name: CONTEXT
      value: {{context}}
    - name: KUBERNETES_DISTRIBUTION_BINARY
      value: {{custom.kubernetes_distribution_binary | default("kubectl")}}
    - name: DEPLOYMENT_NAME
      value: {{match_resource.resource.metadata.name}}
    - name: CONTAINER_RESTART_AGE
      value: "10m"
    - name: CONTAINER_RESTART_THRESHOLD
      value: "2"
    - name: LOG_AGE
      value: "10m"
    - name: EVENT_AGE
      value: "10m"
    - name: EVENT_THRESHOLD
      value: "2"
    - name: CHECK_SERVICE_ENDPOINTS
      value: "true"
  secretsProvided:
  {% if wb_version %}
    {% include "kubernetes-auth.yaml" ignore missing %}
  {% else %}
    - name: kubeconfig
      workspaceKey: {{custom.kubeconfig_secret_name}}
  {% endif %} 
  alerts:
    warning:
      operator: <
      threshold: '1'
      for: '5m'
    ticket:
      operator: <
      threshold: '1'
      for: '10m'
    page:
      operator: '=='
      threshold: '0'
      for: ''