# apiVersion: runwhen.com/v1
# kind: GenerationRules
# spec:
#   generationRules:
#     - resourceTypes:
#         - deployment
#       matchRules:
#         - type: pattern
#           pattern: ".+"
#           properties: [name]
#           mode: substring
#       slxs:
#         - baseName: depl-ops
#           levelOfDetail: detailed
#           qualifiers: ["resource", "namespace", "cluster"]
#           baseTemplateName: k8s-deployment-ops
#           outputItems:
#             - type: slx
#             - type: runbook
#               templateName: k8s-deployment-ops-taskset.yaml
