apiVersion: runwhen.com/v1
kind: GenerationRules
spec:
  generationRules:
    - resourceTypes:
        - deployment
      matchRules:
        - type: pattern
          pattern: ".+"
          properties: [name]
          mode: substring
      slxs:
        - baseName: depl-logs-health
          levelOfDetail: detailed
          qualifiers: ["resource", "namespace", "cluster"]
          baseTemplateName: k8s-deployment-logs-health
          outputItems:
            - type: slx
            - type: sli
            - type: runbook
              templateName: k8s-deployment-logs-health-taskset.yaml
